body{
    color: #111111;
    padding-bottom: 50px;
    font-family: 'Slabo 27px', serif;
}
h1{
    font-family: 'Mansalva', cursive;
}
a{
    text-decoration: none;
}
.nav-link{
    text-decoration: none;
    color: #111111;   
}
.nav-link:hover{
    color: red;
}
.wrapper{
    position: relative;
    z-index: 1;
}
.link_title{
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 375px;
    background: #111111;
    color: #FFFFFF;
    top: 30px;
}
img{
    width: 375px;
    height: 500px;
}
h3{
    font-size: 14px;
}
#footer{
    height: 50px;
    background: #111111;
    color: #FFFFFF;
}